@import url(menu.css);

header{
    width: 100%;
    height: 100vh;
    background-image: url(./Imagen/background3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
.perfil-caja{
    width: 430px;
    height: 420px;
    background: none;

    color: #E2DB2C;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.perfil-imagen{
    width: 50%;
    height: 50%;
    padding-bottom: 30px;
}
.perfil-texto{
    margin-bottom: 40px;
    text-align: center;
}
.perfil-caja h1{
    margin: 0;
    padding: 0 0 10px;
    font-size: 40px;
}
.perfil-caja h2{
    margin: 0;
    padding: 0 0 50px;
    font-size: 18px;
    color: #ffff;
    font-weight: 300;
}
.perfil-caja label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.perfil-caja input{
    width: 100%;
    margin-bottom: 20px;
}
.perfil-caja input[type="text"],
.perfil-caja input[type="password"] {
    border: none;
    border-bottom: 1px solid #E2DB2C;
    background: transparent;
    outline: none;
    height: 40px;
    color: #F0F0F0;
    font-size: 16px;
}
.perfil-caja input [type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #E2DB2C;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 100px;
}
.perfil-caja a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.perfil-caja a:hover{
    color: #E2DB2C;
}
footer{
	width:100%;
	height:10vh;
	display: flex;
  opacity: 0.5;
  align-items: baseline;
  margin-top: 30vh;
}
.FinDePagina{
	display:flex;
	align-items:center;
	flex-wrap: nowrap;
	margin-left: 2vw;
}
.FinDePagina2{
	display:flex;
	align-items:center;
	flex-wrap: nowrap;
	margin-left: auto;
	margin-right: 2vw;
}
.FinDePaginaItems{
	display:flex;
	width:7vw;
	justify-content: center;
}
.imgEnd{
	display: flex;
	width: 7vw;
    height: 7vw;
    position: relative;
    filter: brightness(2);
    object-fit: contain;
}
.FinDePaginaItems a{
	text-decoration:none;
	color:#ffffff;
	align-self: center;
	font-size: 1.5vh;
}
.FinDePaginaItems a:hover {
  color: #E2DB2C;
  filter: brightness(2);
}