* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background: rgb(0, 0, 0);
	font-family: 'Bebas Neue', cursive;
}
/*Formulario*/
.Form__Login{
	display: flex;
	padding: 0px;
	margin: 0px;
	flex-direction: column;
}
/*Logo*/
.Form__Login-img{
	align-self: center;
	justify-content: center;
	height:250px;
	width:100%;
	margin-bottom: 100px;
	padding-bottom: 200px;
	background-image:url(./imagen/_LogoVis.png);
}
/* input contra y nombre */
.Form__Login-div{
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	justify-content: center;
	margin-left: 20px;
}
.Form__Login-div-input{
	width: 310px;
	padding:5px;
	margin: 5px;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
	border: none;
	border-bottom:1px solid rgb(255, 255, 255);
}
/*boton iniciar sesion*/
.Form__Login-button{
	align-self: center;
	width:250px;
	background:#E2DB2C;
	border-radius:20px;
	margin-top: 50px;
	padding: 4px;
}
/*¿olvidaste tu contraseña?*/
a{
	color: white;
	text-decoration: none;
}
.Acess{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
/*
.Form__Login-div-input
.Form__Login-button

*/
